@charset "utf-8";
/* CSS Document */
body {
	background-color: #FFFFFF;
	font-size: 100%;
	font-family: 'Lusitana', serif;
}
header {
	font-family: 'Roboto', sans-serif;
}
.parent {
	display: grid;
	grid-template-columns: 2fr repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}
.div1 {
	grid-area: 1 / 1 / 4 / 2;
}
.div2 {
	grid-area: 1 / 6 / 2 / 7;
}
.div3 {
	grid-area: 2 / 2 / 3 / 3;
}
.div4 {
	grid-area: 2 / 3 / 3 / 4;
}
.div5 {
	grid-area: 2 / 4 / 3 / 5;
}
.div6 {
	grid-area: 2 / 5 / 3 / 6;
}
.div7 {
	grid-area: 2 / 6 / 3 / 7;
}
.div8 {
	grid-area: 3 / 2 / 4 / 7;
}
h1 {
	color: #000000;
	font-size: 1.8em;
	font-family: 'Josefin Sans', sans-serif;
	color: #FFFFFF;
}
p {
	font-family: 'Lusitana', serif;
}
h2 {
	/*font-size: 1.5em;
	*/
	font-family: 'Josefin Sans', sans-serif;
}
h3 {
	/*font-size: 1.3em;
	*/
	font-family: 'Josefin Slab', serif;
}
h4 {
	font-family: 'Josefin Slab', serif;
}
ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #707071;
}
ul.login{
	background-color: #FDB615;
}
li{
	float: center;
}
li a{
	display:block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

a{
	text-decoration: none;
}
ul.about {
	background-color: transparent;
}
.fparent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	background-color: #40C5E5;
	color: #FFFFFF;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80%;
	padding: 10px;
	margin-top: 30px;
}
.parent .a {
	color: #FFFFFF;
}
.fdiv1 {
	grid-area: 1 / 1 / 2 / 2;
}
.fdiv2 {
	grid-area: 1 / 2 / 2 / 3;
}
.fdiv3 {
	grid-area: 1 / 3 / 2 / 4;
}
.fdiv4 {
	grid-area: 2 / 1 / 4 / 2;
	color: #000000;
}
.fdiv5 {
	grid-area: 2 / 2 / 4 / 3;
	color: #000000;
}
.fdiv6 {
	grid-area: 2 / 3 / 3 / 4;
}
.fdiv7 {
	grid-area: 2 / 4 / 3 / 5;
}
.fdiv8 {
	grid-area: 3 / 3 / 4 / 4;
}
.fdiv9 {
	grid-area: 3 / 4 / 4 / 5;
}
.fdiv10 {
	grid-area: 4 / 1 / 5 / 2;
}
.fdiv11 {
	grid-area: 4 / 2 / 5 / 3;
}
.fdiv12 {
	grid-area: 4 / 3 / 5 / 4;
}
.fdiv13 {
	grid-area: 4 / 4 / 5 / 5;
}
.fdiv14 {
	grid-area: 5 / 1 / 6 / 5;
	background-color: #707071;
	text-align-last: center;
	margin-top: auto;
}
/* CSS Document */
